<%= form_for(@club) do |f| %>
  <%= render 'form_errors' %>

  <div class="field">
    <%= f.label :uni_registration_id %><br>
    <%= f.text_field :uni_registration_id %>
  </div>
  <div class="actions">
    <%= f.submit "Verify" %>
  </div>
<% end %>
