<h1>Listing clubs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Website</th>
      <th>Uni registration</th>
      <% if user_signed_in? %>
        <th>Your Rank</th>
      <% end %>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= club.name %></td>
        <td><%= club.description %></td>
        <td><%= club.website %></td>
        <td><%= club.uni_registration_id %></td>
        <% if user_signed_in? %>
          <% membership = club.memberships.find_by(user_id: @user_id) %>
          <% if membership %>
            <td><%= club.memberships.find_by(user_id: @user_id).rank %></td>
          <% else %>
            <td>Not a member</td>
          <% end %>
        <% end %>
        <td><%= link_to 'Show', club %></td>
        <td><%= link_to 'Edit', edit_club_path(club) %></td>
        <td><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
  <% if @awaiting_verification.count > 0 %>
    <p>These clubs of yours are not verified yet:</p>
    <% @awaiting_verification.each do |club| %>
      <p><%= club.uni_registration_id %></p>
    <% end %>
  <% end %>

  <% if @memberships.count > 0 %>
    <p>Clubs you are a member of:</p>
    <% @memberships.each do |m| %>
      <% club = m.club %>
      <p><%= club.uni_registration_id %> - <%= club.name %></p>
    <% end %>
  <% else %>
    <p>You are not a member of any clubs D:</p>
  <% end %>
<% end %>

<br>

<%= link_to 'Register Club', new_club_path %>
