<h1>Listing clubs</h1>

<% if @awaiting_verification.count > 0 %>
  <strong>These clubs of yours are not verified yet:</strong>
  <ul>
    <% @awaiting_verification.each do |club| %>
      <li><%= link_to club.uni_registration_id, club_path(club) %></li>
    <% end %>
  </ul>
<% end %>

<% if @memberships.count > 0 %>
  <strong>Clubs you are a member of:</strong>
  <ul>
    <% @memberships.each do |m| %>
      <% club = m.club %>
      <% if club %>
        <li><%= link_to club.name, club_path(m) %></li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>You are not a member of any clubs D:</p>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <% if user_signed_in? %>
        <th>Your Rank</th>
      <% end %>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= link_to club.name, club_path(club) %></td>
        <td><%= club.description %></td>
        <% if user_signed_in? %>
          <% membership = club.memberships.find_by(user_id: @user.id) %>
          <% if membership %>
            <% rank = club.memberships.find_by(user_id: @user.id).rank %>
            <% if rank and rank == User.rank_admin %>
              <td>Admin</td>

            <% elsif rank and rank == User.rank_member %>
              <td>Member</td>
            <% end %>
          <% else %>
            <td>Not a member</td>
          <% end %>
        <% end %>
        <td><%= link_to 'Show', club, class: 'btn btn-default' %>
        <% if rank and rank == User.rank_admin %>
          <%= link_to 'Edit', edit_club_path(club), class: 'btn btn btn-primary' %>

          <%= link_to club, :class => 'btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' } do %>
  <span>Delete</span>
<% end %>

        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'Register Club', new_club_path, class: 'btn btn-primary' %>
<% end %>
