<h1>Listing clubs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Website</th>
      <th>Uni registration</th>
      <th>Is confirmed</th>
      <% if @user_id %>
        <th>Rank</th>
      <% end %>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= club.name %></td>
        <td><%= club.description %></td>
        <td><%= club.website %></td>
        <td><%= club.uni_registration_id %></td>
        <td><%= club.confirmed %></td>
        <% if @user_id %>
          <% membership = club.memberships.find_by(user_id: @user_id) %>
          <% if membership %>
            <td><%= club.memberships.find_by(user_id: @user_id).rank %></td>
          <% else %>
            <td>Not a member</td>
          <% end %>
        <% end %>
        <td><%= link_to 'Show', club %></td>
        <td><%= link_to 'Edit', edit_club_path(club) %></td>
        <td><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @user %>
  <% @user.memberships.all.each do |m| %>
    <p><%= m.rank %></p>
  <% end %>
<% end %>

<br>

<%= link_to 'New Club', new_club_path %>
