<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @club.description %>
</p>

<p>
  <strong>Website:</strong>
  <%= @club.website %>
</p>

<p>
  <strong>Uni registration:</strong>
  <%= @club.uni_registration_id %>
</p>

<p>
  <strong>Is confirmed:</strong>
  <%= @club.confirmed %>
</p>

<p><strong>Member Count:</strong> <%= @club.memberships.count %></p>

<p>Our admins:</p>
<% @admins.each do |admin| %>
  <p><%= admin.id %> - <%= admin.full_name %></p>
<% end %>

<%= link_to 'Join', join_club_path(@club) %> |
<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
