<p id="notice"><%= notice %></p>

<h1>
  <%= @club.name %>
  <% if user_signed_in? %>
    <% if @is_club_member %>
      <% if @is_club_admin %>
        <%= link_to 'Edit club', edit_club_path(@club), class: 'btn btn-primary' %>
      <% else %>
        <%= link_to 'Leave Club', leave_club_path(@club), class: 'btn btn-primary' %>
      <% end -%>
    <% else %>
      <%= link_to 'Join', join_club_path(@club), class: 'btn btn-primary' %>
    <% end -%>
  <% end -%>
</h1>
<div class="col-sm-8 well">
  <h3>Description</h3>
  <p><%= @club.description %></p>
</div>
<div class="col-sm-4 well">
  <h3>Contact</h3>
  <p><a href="http://<%= @club.website %>"><%= @club.website %></a></p>
  <h3>Admins</h3>
  <% @admins.each do |admin| %>
      <p><%= admin.full_name %></p>
    <% end %>
  <h3>Member Count</h3>
  <p>This club has <%= pluralize(@club.memberships.count, "member") %></p>
</div>

<div class="col-sm-12 well">
  <h3>Events</h3>
  <% if @events.count > 0 %>
    <table class="table table-hover">
      <thead>
        <th>Name</th>
        <th>Location</th>
        <th>Date</th>
        <th>Time</th>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td>
              <%= link_to event.name, event_path(event) %>
            </td>
            <td>
              <%= event.location %>
            </td>
            <td>
              <%= event.start_time.strftime('%Y/%m/%d') %>
            </td>
            <td>
              <%= event.start_time.strftime('%H:%M') %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>There are no events to show.</p>
  <% end -%>
  <% if user_signed_in? %>
    <% if @is_club_member %>
      <% if @is_club_admin %>
        <%= link_to 'Create Event', create_event_path(@club, Event.stage_new), class: 'btn btn-primary' %>
      <% end -%>
    <% end -%>
  <% end -%>
</div>

<div class="col-sm-12 well">
  <h3>Admin</h3>
  <% if user_signed_in? %>
    <% if @is_club_member %>
        <% if not @is_club_admin %>
          <%= link_to 'Leave Club', leave_club_path(@club), class: 'btn btn-primary' %>
        <% end %>
    <% else %>
    <% end %>
  <% end %>
  <%= link_to 'Back', clubs_path, class: 'btn btn-primary' %>
</div>