<h3>Details</h3>

<%= simple_form_for(create_event_post_path(@club, Event.stage_tickets), defaults: { input_html: { :class => "form-group form-control" } }, html: { class: 'form' },method: "post", multipart: true) do |f| %>
  <%= f.input :event_title %>
  <%= f.input :event_description %>
  <%= f.input :event_location %>
  <%= f.input :event_date, as: :date %>
  <%= f.input :event_time, as: :time %>
  <%= f.input :event_duration, label: "Event duration (hours)", collection: 1..120 %>

  <strong>Images</strong>
  <%= file_field_tag :imagea %><br>
  <% if @imagea %><%= image_tag @imagea %><br><br><% end %>
  <%= file_field_tag :imageb %><br>
  <% if @imageb %><%= image_tag @imageb %><br><br><% end %>
  <%= file_field_tag :imagec %><br>
  <% if @imagec %><%= image_tag @imagec %><br><br><% end %>
  <br><br>
  <%= submit_tag("Cancel", name: 'cancel', confirm: 'Are you sure you want to cancel making a new event?') %>
  <%= submit_tag("Next") %>
<% end %>
