<h2>confirm</h2>

<p><strong>Event Title: </strong><%= @event_title %></p>

<p><strong>Event Description:</strong></p>
<p><%= @event_description %></p>

<p><strong>Date: </strong><%= @event_time.strftime('%Y/%m/%d') %></p>

<p><strong>Start Time: </strong><%= @event_time.strftime('%H:%M') %></p>

<p><strong>Duration (hours): </strong><%= @event_duration %></p>

<% if @event_tickets.length > 0 %>
  <% @event_tickets.each do |ticket| %>
    <br><br>
    <p><strong>Ticket Name: </strong><%= ticket[:tname] %></p>
    <p><strong>Member Price: </strong><%= ticket[:mprice] %></p>
    <p><strong>Non-Member Price: </strong><%= ticket[:nprice] %></p>
    <p><strong>Shared Member Price: </strong><%= ticket[:sprice] %></p>
    <p><strong>Total Tickets: </strong><%= ticket[:total] %></p>
    <p><strong>Pickup: </strong><%= ticket[:pickup] %></p>
    <p><strong>Open: </strong><%= ticket[:opendate].strftime('%Y/%m/%d') %></p>
    <p><strong>Close: </strong><%= ticket[:closedate].strftime('%Y/%m/%d') %></p>
  <% end %>
<% else %>
  <p><strong>No Tickets Created</strong></p>
<% end %>


<%= form_tag(create_event_path(@club, Event.stage_doit), method: "get") do %>
  <%= submit_tag("Back", name: 'back') %>
  <%= submit_tag("Confirm") %>
<% end %>
