<h1><%= @event.name %></h1>
<p><%= @event.description %></p>
<p><%= @event.location %></p>
<p>Date: <%= @event.start_time.strftime('%Y/%m/%d') %></p>
<p>Start Time: <%= @event.start_time.strftime('%H:%M') %></p>
<p>Duration: <%= @event.duration %> hours</p>

<p>club: <%= link_to @club.name, @club %></p>

<% if @tickets.length > 0 %>
  <%= link_to 'Reserve Tickets', reserve_tickets_path(@event) %>
<% else %>
  <p><strong>No Tickets Created</strong></p>
<% end %>