<h1><%= @event.name %></h1>

<% if @event[:imagea] %><%= image_tag @event[:imagea] %><br><br><% end %>

<p><%= @event.description %></p>
<p><%= @event.location %></p>
<p>Date: <%= @event.start_time.strftime('%Y/%m/%d') %></p>
<p>Start Time: <%= @event.start_time.strftime('%H:%M') %></p>
<p>Duration: <%= @event.duration %> hours</p>

<p>club: <%= link_to @club.name, @club %></p>

<% if @tickets.length > 0 %>
  <% if user_signed_in? %>
    <% if @reservations.count > 0 %>
      <strong>Your reservations</strong><br>
      <% @reservations.each do |r| %>
        <strong>Ticket Class</strong> <%= r.ticket.tname %><br>
        <strong>Member amount</strong> <%= r.m_amount %><br>
        <strong>Non-Member amount</strong> <%= r.n_amount %><br>
        <strong>Shared amount</strong> <%= r.s_amount %><br><br>
      <% end %>
    <% else %>
      <%= link_to 'Reserve Tickets', reserve_tickets_path(@event) %><br><br>
    <% end %>

    <% if @is_club_admin %>
      <strong>Current Reservations:</strong><br>

      <% if @all_reseverations.count > 0 %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Sort</th>
              <th>Member Name</th>
              <th>Member Tickets</th>
              <th>Non-Member Tickets</th>
              <th>Shared Tickets</th>
              <th>Cost</th>
            </tr>
          </thead>
          <tbody>
            <% @all_reseverations.each do |r| %>
              <tr>
                <% t = r.ticket %>
                <td><%= t.tname %></td>
                <td><%= r.user.full_name %></td>
                <td><%= r.m_amount %></td>
                <td><%= r.n_amount %></td>
                <td><%= r.s_amount %></td>
                <td>$<%= (r.m_amount*t.mprice+r.s_amount*t.sprice+r.n_amount*t.nprice) %></td>
                <td>
                <% if r.pickedup %>
                  Picked Up
                <% else %>
                  <%= link_to 'Mark Tickets as picked up', ticket_pickup_path(@event.id, r.id) %>
                <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>None</p>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <p><strong>No Tickets Created</strong></p>
<% end %>

<%= form_tag(event_path(@event), method: "get") do %>
  <%= text_area_tag(:text) %><br>
  <%= submit_tag("Add Comment", name: 'comment') %><br><br>
<% end %>

<p><strong>Comments:</strong></p>
<% if @comments.length > 0 %>
  <% @comments.each do |comment| %>
    <p><strong><%= comment.user.full_name %>:</strong> <%= comment.message %></p>
  <% end %>
<% else %>
  <p>No comments</p>
<% end %>