<h1>Your Profile</h1>

<%= link_to 'Edit Details', edit_user_registration_path %>

<h2>Messages</h2>
<% if @notifications > 0 %>
  <% @messages.each do |message| %>
    <p><%= link_to '[Delete]', delete_message_path(message) %> <%= message.message %></p>
  <% end %>
<% else %>
  <p>You have no new messages</p>
<% end %>

<% if @awaiting_verification.count > 0 %>
  <strong>These clubs of yours are not verified yet:</strong>
  <% @awaiting_verification.each do |club| %>
    <p><%= club.uni_registration_id %></p>
  <% end %>
<% end %>

<% if @network_needs_verify.count > 0 %>
  <strong>These networks want you to add a club into them:</strong>
  <% @network_needs_verify.each do |network| %>
    <p><%= network.club.name %> was invited to join <%= network.network.name %>
    <%= link_to '[Accept]', confirm_network_path(network) %> |
    <%= link_to '[Reject]', reject_network_path(network) %></p>
  <% end %>
<% end %>

<% if @memberships.count > 0 %>
  <strong>Clubs you are a member of:</strong>
  <ul>
    <% @memberships.each do |m| %>
      <% club = m.club %>
      <% if club %>
        <li><%= link_to club.name, club_path(m) %></li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>You are not a member of any clubs D:</p>
<% end %>

<% if @reservations.count > 0 %>
  <strong>You have reserved the following tickets</strong><br>
  <% @reservations.each do |r| %>
    <%= r.event.name %> - <%= r.ticket.tname %>:<br>
    Member Tickets: <%= r.m_amount %><br>
    Non Member Tickets: <%= r.n_amount %><br>
    Shared Tickets: <%= r.s_amount %><br>
    Pickup location: <%= r.ticket.pickup%><br><br>
  <% end %>
<% end %>